


/* COLOR STYLES */
:root{
--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;
}

/* COLOR SETTINGS */

body{
    color: white;
}

header, #bot-footer{
    background-color: var(--dark-gray);
}

#hero, #about{
    background-color: var(--aqua);
}

#portfolio, #contact{
    background-color: white;
}

#top-footer{
    background-color: var(--light-gray);
}

#portfolio, #contact{
    color: var(--black);
}

.jumbo{
    width: 200px;
}

.gl-stars div{
    background-color: white;
    height: 2px;
}

/* GENERAL CONFIG */
ul{
    list-style-type: none;
}

ul a{
    text-decoration: none;
    color: var(--white);
}