


/* COLOR STYLES */
:root{
--dark-gray: #2C3E50;
--aqua: #1ABC9C;
--white: #FFFFFF;
--light-gray: #3A546D;
--black: #333333;
}

/* COLOR SETTINGS */

body{
    color: white;
}

header, #bot-footer{
    background-color: var(--dark-gray);
}

#hero, #about{
    background-color: var(--aqua);
}

#portfolio, #contact{
    background-color: white;
}

#top-footer{
    background-color: var(--light-gray);
}

#portfolio, #contact{
    color: var(--black);
}

.jumbo{
    width: 200px;
}

.gl-white-stars div{
    background-color: var(--white);
    height: 2px;
}

.gl-black-stars div{
    background-color: var(--black);
    height: 2px;
}

/* Navbar config */
.navbar-brand{
    color: var(--white);
}

/* GENERAL CONFIG */
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--white);
}

.small-container{
    margin: 0 auto;
}

/* ABOUT BUTTON CONFIG */
#about button{
    background-color: var(--aqua);
}

/* SOCIAL MEDIA CONFIG */
.social-media{
    font-size: 1rem;
    padding: 10px;
    color: var(--white);
    width: 50px;
    height: 50px;
}

/* FREELANCER CONFIG */
#start-bootstrap{
    text-decoration: none;
    color: var(--aqua);
}

/* IMG HOVER */
.layover:after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--white);
    font-size: 5rem;
    background-color: rgba(26,188,156,0.5);
    transition: opacity .7s;
}

.layover:hover::after{
    opacity: 1;
    cursor: pointer;
}